.popup-image__form {
    max-width: 816px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 550px) {
    .popup-image__form {
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: content-box;
    }
}