.button {
    font-family: 'Inter','Arial', 'Helvetica';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    background-color:rgba(0, 0, 0, 1);
    border: 0;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 31px;
  }
  
  .button:hover {
    opacity: 80%;
    transition: all 0.2s;
  }
  
  .button:active {
    background-color:rgba(0, 0, 0, 1);
    transition: all 0.2s;
  }