.header__logo {
    padding-bottom: 22px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        padding-left: 22px;
    }
}

@media screen and (max-width: 600px) {
    .header__logo {
        max-width: 103.74px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        padding-left: 19px;
        padding-bottom: 24px;
    }
}
