.profile__add-button {
    width: 150px;
    height: 50px;
    background: transparent url('./../../../images/addbutton.svg') center no-repeat;
    background-size: 22px 22px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin-top: 30px;
    transition: all 0.2s;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 60%;
    transition: all 0.2s;
}

.profile__add-button:active {
    opacity: 60%;
    transition: all 0.2s;
}

@media screen and (max-width: 670px) {
    .profile__add-button {
        width: 250px;
        height: 50px;
        background-size: 16px 16px;
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .profile__add-button {
        width: 282px;
    }
}

