.input {
    box-sizing: border-box;
    font-size: inherit;
    margin-top: 23px;
    box-sizing: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 497px) {
    .input {
      margin-top: 40px;
    }
}



