.input {
    box-sizing: border-box;
    margin-top: 28px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .input:last-of-type {
    margin-top: 15px;
  }

  @media screen and (max-width: 497px) {
    .input {
      margin-top: 53px;
    }

    .input:last-of-type {
      margin-top: 15px;
    }
}



