.profile__info {
    flex-direction: column;
    padding-right: 244px;
    padding-left: 30px;
}

@media screen and (max-width: 825px) {
    .profile__info {
        padding-right: 70px;
    }
}

@media screen and (max-width: 700px) {
    .profile__info {
        padding-right: 30px;
    }
}

@media screen and (max-width: 497px) {
    .profile__info {
        padding-right: 0;
        padding-left: 0;
    }
}