.card__group {
    min-width: 22px;
    min-height: 19px;
    background: url('./../../../images/group.svg') center no-repeat;
    border: 0;
    transition: all 0.2s;
    cursor: pointer;
}

.card__group:hover {
    opacity: 50%;
}