.element__group {
    min-width: 22px;
    min-height: 19px;
    background: url('./../../../images/group.svg') center no-repeat;
    border: 0;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .element__group:hover {
    opacity: 50%;
  }
  
  .element__group:active {
    background: url('./../../../images/blackgroup.svg') center no-repeat;
    opacity: 100%;
  }